

<div class="artistshow">

  <figure>
    <figcaption>
      <img src=" <%= @artist.image() %>"><br><br>
      <%= @artist.name() %><br>
      <i><%= @artist.style() %></i><br><br>
      <form method="post" action="/artists/<%= @artist.id %>/delete">
        <input type="submit" value="Delete artist"/>
      </form>
    </figcaption>
    <div class="bio" style="margin-left: 20px;"><%= @artist.bio() %></div>
  </figure>



</div>
