<form method="post" action="/artists/<%= @artist.id %>/delete">

  <div class="artistshow">

    <figure>
      <figcaption>
        <img src=" <%= @artist.image() %>"><br><br>
        <%= @artist.name() %><br>
        <i><%= @artist.style() %></i><br><br>
        <input type="submit" value="Delete artist"/>
      </figcaption>
      <%= @artist.bio() %>
    </figure>



  </div>



</form>
