<h2>Edit</h2>
<form method="POST" action="/artworks/<%= @artwork.id %>">
  <div class="form-wrapper">


    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= @artwork.title %>"/>



    <label for="category">Category:</label>
    <input type="text" name="category" id="category" value="<%= @artwork.category %>"/>



    <label for="year">Year:</label>
    <input type="number" name="year" id="year" value="<%= @artwork.year %>"/>



    <label for="artist_select">Select Artist:</label>
    <select name="artist_id" id="artist_select">
      <% @artists.each do |artist| %>
      <option value=<%= artist.id %>><%= artist.name %></option>
      <% end %>
    </select>

    <br>

    <input type="submit" value="Update Artwork"/>

    <br>

  </div>
</form>
