<h1>Artworks</h1>

<div class="artworks">

<% for artwork in @artworks %>
<figure>
  <figcaption>
    <img src=" <%= artwork.image() %>">
    Title: <%= artwork.title() %>
    Year: <%= artwork.year() %>
    Category: <%= artwork.category() %>
    Artist: <%= artwork.artist_id() %>
  </figcaption>
  <a href="/artworks/<%= artwork.id %>">Show Artwork</a>
</figure>
<% end %>

</div>
