<h2>Artworks</h2>

<div class="artworks">

<% for artwork in @artworks %>
<figure>
  <figcaption>
    <a href="/artworks/<%= artwork.id %>"><img src=" <%= artwork.image() %>"></a><br>
    <%= artwork.title() %> <br>
    <i><%= artwork.year() %></i> <br>
    <i><%= artwork.category() %></i> <br>
    Artist: <%= artwork.artist_id() %> <br>
  </figcaption>
</figure>
<% end %>

</div>
