

<div class="artworkshow">

  <figure>
    <figcaption>
      <img src=" <%= @artwork.image() %>"><br>
      <%= @artwork.title() %><br>
      <i><%= @artwork.artist.name() %></i> <br>
      <i><%= @artwork.year() %></i><br>
      <i><%= @artwork.category() %></i><br>
      <form method="post" action="/artworks/<%= @artwork.id %>/delete">
        <input type="submit" value="Delete artwork"/><br>
        </form>
        <form method="get" action="/artworks/<%= @artwork.id %>/edit">
          <input type="submit" value="Edit artwork"/>
      </form>
    </figcaption>

  </figure>









</div>
