<form method="post" action="/artworks/<%= @artwork.id %>/delete">

  <div class="artworkshow">

    <figure>
      <figcaption>
        <img src=" <%= @artwork.image() %>"><br>
        <%= @artwork.title() %><br>
        <i><%= @artwork.year() %></i><br>
        <i><%= @artwork.category() %></i><br>
        Artist: <%= @artwork.artist_id() %><br>
        <input type="submit" value="Delete artwork"/>
        <form method="get" action="/artworks/<%= @artwork.id %>/edit">
          <input type="submit" value="Edit artwork"/>
        </figcaption>
      </figure>





    </form>



  </div>

</form>
