<form method="post" action="/artworks/<%= @artwork.id %>/delete">

  <figure>
    <figcaption>
      <img src=" <%= @artwork.image() %>">
  Title: <%= @artwork.title() %>
  Year: <%= @artwork.year() %>
  Category: <%= @artwork.category() %>
  Artist: <%= @artwork.artist_id() %>
</figcaption>
</figure>


<input type="submit" value="Delete artwork"/>


</form>

<form method="get" action="/artworks/<%= @artwork.id %>/edit">
<input type="submit" value="Edit artwork"/>

</form>
